/* HEADER */
header{
    height: 15vh;

}

/* JUMBOTRON */

.jumbotron{
    margin-top: 15vh;
}
    
#jumbotron-show{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    height: 80vh;
    color: #FFFFFF;
}

.container> img{
    max-width: 30%;
}


    /* COLORS */
.black{
    background-color: #151515;
}

.white{
    background-color: #FFFFFF;
}


/* IMG & SVG*/
#sony-logo{
    width: 50px;
}

#playstation-logo{
    width: 100px;
}



