/* BACKGROUNDS & COLOR */



/* COLORS */
.black{
    background-color: #151515;
}

.white{
    background-color: #FFFFFF;
}


/* IMG & SVG*/
#sony-logo{
    width: 50px;
}

#playstation-logo{
    width: 100px;
}

